<app-navbar></app-navbar>

<div class="col-md-6">
    <form>
      <div class="form-group">
        <input ngModel name="myTask" type="text" class="form-control" #myTaskModel="ngModel" (change)="log(myTaskModel)" placeholder="Enter Task" required>
      </div>

       <!-- <p *ngIf="loading">
        <i class="fa fa-spinner fa-spin"></i>
      </p> -->

      <!-- <div class="form-group">
        <button class="btn btn-primary" [disabled]="!f.valid" (click)="saveTask()">
          Save Task
        </button>
      </div> -->
    </form> 
</div>

<div class="col-md-6">
    <table class="table table-hover">
      <tr>
        <th>#</th>
        <th>Task</th>
        <th></th>
      </tr>
      <tr *ngFor="let task of tasks | async; let i = index" [attr.data-index]="i">
        <td>{{i + 1}}</td>
        <td>{{task.data.description}}</td>
        <td>
          <button class="btn btn-success btn-sm" (click)="edit(task)">
            edit
          </button>

          <button class="btn btn-danger btn-sm" (click)="deleteTask(task)">
            remove
          </button>
        </td>
      </tr>
    </table>
</div>

